.searchBar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  position: relative;
}

.input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 12px 30px;
  width: 400px;
  border-radius: 10px;
  font-size: 16px;
  box-sizing: border-box;
  position: relative;
  z-index: 1;

  @media (max-width: 768px) {
    width: 300px;
    font-size: 14px;
  }

  @media (max-width: 480px) {
    width: 270px;
    font-size: 12px;
  }
}

.root {
  position: relative;
}

.icon {
  width: 22px;
  height: 22px;
  opacity: 0.3;
  position: absolute; // Позиционируем иконку абсолютно
  top: 50%; // Центрируем по вертикали
  left: 7px; // Позиция слева
  transform: translateY(-50%);
  z-index: 2;

  &:focus {
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
}
